<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%=h @event.subtitle %>
</p>

<p>
  <b>Url:</b>
  <%=h @event.url %>
</p>

<p>
  <b>Date1:</b>
  <%=h @event.date1 %>
</p>

<p>
  <b>Date2:</b>
  <%=h @event.date2 %>
</p>

<p>
  <b>Address1:</b>
  <%=h @event.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @event.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @event.city %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>