<div class="thumb-col">
	<div><%= $shows[@id].artist %></div>
	<div><%= $shows[@id].title %></div>
	<div><%= $shows[@id].date %></div>
	<div class="description"><%= $shows[@id].description %></div>
</div>
<% @showimages.each do |showimage| %>
	<div class="full-col">
		<%= image_tag(showimage.url, :alt => "object image") %>
	</div>
<% end %>
