<h1>Listing items</h1>

<SCRIPT TYPE="text/javascript">
<!--
function dropdown(mySel)
{
var myWin, myVal;
myVal = mySel.options[mySel.selectedIndex].value;
if(myVal)
   {
   if(mySel.form.target)myWin = parent[mySel.form.target];
   else myWin = window;
   if (! myWin) return true;
   myWin.location = myVal;
   }
return false;
}
//-->
</SCRIPT>

<form action="../cgi-bin/redirect.pl" method=post onSubmit="return dropdown(this.gourl)">
<select name="gourl">
<option value="">Filter view</option>
<option value="/tags/">Home</option>
<option value="/">Collection</option>
<option value="http://www.ninthwonder.com">Archive</option>
</select>

<input type=submit value="Go">
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Category</th>
    <th>Country</th>
    <th>Year</th>
    <th>Dimensions</th>
    <th>Price</th>
    <th>Description</th>
    <th>Location</th>
  </tr>

<% @items.reverse.each do |item| %>
  <tr>
	<td colspan="13" class="divider"></td>
  </tr>
  <tr>
    <td><%=h item.id %></td>
    <td>
		<%= image_tag(item.url, :alt => "object image", :class => "thumb") %>
	</td>
    <td style="min-width:100px"><%=h item.title %></td>
    <td><%=h item.category %></td>
    <td><%=h item.country %></td>
    <td><%=h item.year %></td>
    <td><%=h item.dimensions %></td>
    <td><%=h item.price %></td>
    <td style="min-width:170px"><%=h item.description %></td>
    <td>
		<% if item.home == 1 %><div class="home">Home</div><% end %>
		<% if item.collection == 1 %><div>Collection</div><% end %>
		<% if item.archive == 1 %><div>Archive</div><% end %>
	</td>
    <td>
		<div><%= link_to 'Show', item %></div>
		<div><%= link_to 'Edit', edit_item_path(item) %></div>
		<div><%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %></div>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>