<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Country:</b>
  <%=h @item.country %>
</p>

<p>
  <b>Year:</b>
  <%=h @item.year %>
</p>

<p>
  <b>Dimensions:</b>
  <%=h @item.dimensions %>
</p>

<p>
  <b>Price:</b>
  <%=h @item.price %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @item.url %>
</p>

<p>
  <b>Home:</b>
  <%=h @item.home %>
</p>

<p>
  <b>Collection:</b>
  <%=h @item.collection %>
</p>

<p>
  <b>Archive:</b>
  <%=h @item.archive %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>